{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}パスワード再設定{% endblock %}
{% block contents %}
<h1 class="login_h1">パスワード再設定</h1>
<div class="form-content">
  {% if user.is_authenticated %}
  {% include "account/snippets/already_logged_in.html" %}
  {% endif %}
  <p>メールアドレスを入力してください。</p>
  <form method="post" action="{% url 'account_reset_password' %}">
    {% csrf_token %}
    {{ form.email |add_class:"form-box"}}
    <button type="submit">送信</button>
  </form>
</div>
{% endblock %}
