{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}パスワード再設定{% endblock %}
{% block contents %}
<h1 class="login_h1">{% if token_fail %}不正トークン{% else %}パスワード再設定{% endif %}</h1>
<div>
<div class="form-content">
  {% if token_fail %}
  {% url 'account_reset_password' as passwd_reset_url %}
  <p>このパスワード再設定用リンクは無効になっています。 <a href="{{ passwd_reset_url }}">パスワード再設定再申請</a></p>
  {% else %}
  {% if form %}
  <form method="POST" action="{{ action_url }}">
    {% csrf_token %}
    <div>{{ form.password1 |add_class:"form-box" }}</div>
    <div>{{ form.password2 |add_class:"form-box" }}</div>
    <button type="submit">変更</button>
  </form>
  {% else %}
  <p>パスワードは変更されています。</p>
  {% endif %}
  {% endif %}
</div>
  </div>
{% endblock %}
