
body {
	font-family: sans-serif;
	color:#30373f;
	margin: 0;
	padding:0; 
	height: 100%;
}

footer{

	background-color:#333333;
	color:white;
}
footer a{
	color:#d3d3d3;
}

.form-content{
	background: white;
  padding: 20px; 
  margin: auto; 
  margin-top: 10px; 
  width: 400px; 
  border-radius: 4px; 
  border: 1px solid #ddd; 
	text-align: center; 
}
.form-box{
  border: none; 
  border-radius: 4px; 
  border: 1px solid #ddd; 
  margin: 10px; 
  height: 29px; 
  width: 80%; 
}

@media (max-width: 940px) {
form{
	text-align:center;
	}
}

a{
	text-decoration: none;
}

.c{
	font-size:small;
	margin-left:16px;
}



.logo {
	display: block;
	background: url("search/logo.png") center/64px auto no-repeat;
	font-size: 0;
	width: 128px;
	height: 60px;
	background-size:contain;
}
	

.site-header__top {
  background-color: #B0FFC9; }
  .site-header__top ul {
    display: flex; }
  .site-header__top li:not(:last-child) {
    margin-right: 1.5rem; }
  .site-header__top .site-header__start {
    display: none; }

.site-header__bottom {
  position: relative;
	background-color: #FFFFB0; 
}

.site-header__bottom .site-header__end {
	order: -1; 
	
}



.site-header__wrapper {
  display: flex;
  justify-content: space-between;
	align-items: center;
	padding: 1rem;
	height: 20px;
}
  @media (min-width: 940px) {
    .site-header__wrapper {
      padding-top: 1rem;
		padding-bottom: 1rem; 
		height: 20px;
} }
.site-header__end {
  display: flex;
	align-items: center; 
}

.site-header__end.top > * + * {
margin-left: 1.5rem; }



@media (min-width: 940px) {
	.site-header__end.bottom > *:not(:last-child) {
		margin-right: 1.5rem;
} 
  }

@media (max-width: 939px) {
  .site-header__end.bottom .search {
    margin-left: 0; } }

.site-header__end.bottom svg {
  width: 22px;
	height: 22px; 
}


 
  .nav__wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: #d9f0f7;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
		transition: transform 0.3s ease-out, opacity 0.3s ease-out;
z-index: 3;	}
    .nav__wrapper.active {
      visibility: visible;
      opacity: 0.9;
		transform: translateY(0); 
	z-index: 3;
	width:80%;
	margin:  0 auto; 
} 
.nav__item:not(:last-child) {
  margin-right: 1.5rem; }

.nav__item a {
	display: block;
  padding-top: 1.5rem;
	padding-bottom: 1.5rem; 
list-style: none;}
  @media (max-width: 939px) {
    .nav__item a {
		padding: 1rem;
list-style: none;} }
.nav__item svg {
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 28px;
  margin-right: 1rem; }
  @media (min-width: 940px) {
    .nav__item svg {
      display: block;
      margin: 0 auto 0.5rem; } }
.nav__item.active a {
	border-left-color: #222;}
  @media (min-width: 800px) {
    .nav__item.active a {
border-bottom-color: #222; } }

.te{
	 display: inline-block;
  border-radius : 5%;         
  font-size     : 9pt;        
  text-align    : center;     
  cursor        : pointer;     
  padding       : 7px 13px; 
  background    : #c450a0;  
  color         : #ffffff;     
  line-height   : 1em;         
  transition    : .3s;         
  border        : 2px solid #000066; 
}

.te:hover{
	color         : #000066;    
	background    : #ffffff;    
}

.nav__toggle {
	position: absolute;
	color:#c54ea0;
  right: 1rem;
	top: 1rem; 
	background-color: transparent;
	border: transparent;
	font-size:1em;

}

.nav__toggle:hover{
	color:#882255;
}

@media (max-width: 940px){
	.nav__toggle {

	right: 0.2rem;

}
}
 
.search {
  display: flex; }

.search__toggle {
  appearance: none;
  order: 1;
  font-size: 0;
  width: 34px;
  height: 34px;
  background: url("search/search.svg") center/22px no-repeat;
  border: 0; }
  @media (max-width: 939px) {
    .search__toggle {
      position: absolute;
      right: 5.5rem;
      top: 0.65rem; } }
  .search__toggle.active {
    background: url("search/close.svg") center/22px no-repeat; }

.search__form {
  display: none; }
  .search__form.active {
    display: block; }
  @media (max-width: 799px) {
    .search__form {
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      background-color: red; }
      .search__form input {
        width: 100%; } }
  .search__form input {
    min-width: 200px;
    appearance: none;
    border: 0;
    background-color: #fff;
    border-radius: 0;
    font-size: 16px;
    padding: 0.5rem; }
    @media (max-width: 799px) {
      .search__form input {
border-bottom: 1px solid #979797; } }

.last{
	text-align: center;
	font-size:small;
	padding-top:1em;
}

.last2{
	text-align: center;
	font-size:small;
}

.form-content{
	max-width: 330px;
	margin:auto;
	margin:  0 auto; 
}
footer{
	margin-top: auto;
}

.con{
	display: flex;
      flex-direction: column;
      min-height: 100vh;
}

.login_h1{
	text-align: center;
	
	}
	
.container{
		width:100%;
	margin:  0 auto; 
}

.date{
	font-size: x-small;
	padding-left: 16px;
	color:#808080;
}

.tokosya{
	padding-left: 16px;
	font-size: small;
}

.ti{
	padding-left: 1em;
	display:block;
}

li{
	list-style-type: none;
}

.hitotsu{
	max-width:700px;
}

.ue{
	padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #4ec4d3;
}

hr {
  border-top: 1px solid #bbb;
}

.alert.alert-success{
	margin:  0 auto;
	
}

.swsw{
	width:100%;
	margin:  0 auto; 
}

@media screen and (max-width:940px) {
.swsw{
		width:80%;
		margin:  0 auto; 
}
}

.ippon{
	width:800px;
	margin:  0 auto; 
}

@media screen and (max-width:940px) {
.ippon{
		width:100%;
		margin:  0 auto;
		
}
}

.boxx{
	padding: 0.5em 1em;
    margin: 2em 0;
	color: #2c2c2f;
	background-color:#B0FFC9;
}

.hyounum{
	font-size: small;
}

.nh1{
	padding-left:16px;
}

.error-message{
	color:red;
	font-size:small;
}

.honbun{
	padding-left:1em;
}

@media screen and (max-width:940px) {
img{
	width:100%;
	}
}

.t{
	margin:  0 auto;
	 height: 2.4em;
    width: 80%;
	padding: 0 16px;
	font-size:16px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 0 1px #ccc inset;
    appearance: none;
    -webkit-appearance: none;
	-moz-appearance: none;
	resize: none;
}

.t:focus{
	    outline: 0;
	box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
	resize: none;

}

.tt{
	margin:  0 auto;
	 height: 15em;
    width: 80%;
	padding: 0 16px;
	font-size:16px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 0 1px #ccc inset;
    appearance: none;
    -webkit-appearance: none;
	-moz-appearance: none;
	resize: none;
}

.tt:focus{
	    outline: 0;
	box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
	resize: none;

}





a.bbb{
font-size:0.75em;
display:block;
width:80px;
padding-top:8px;
padding-bottom:8px;
	text-align:center;
	background:#FADCED;
	text-decoration: none;
	border-radius: 16px;
}
@media screen and (max-width:940px) {
a.bbb{
padding-top:5px;
padding-bottom:5px;
border-radius: 16px;
}
}

a.bbb:hover{
background:#777777;
}

.kakoi{
	text-align: center;
  display: block;
}

.qbtn {
	width:80%;
	margin-top:1em;
	text-align:center;
  display: inline-block;
	padding: 0.5em 1em;
	
  text-decoration: none;
  background: #B0FFC9;
  color:#c54ea0;
  border-bottom: solid 4px #CFE8A0;
	border-radius: 3px;
	font-weight: bold;
	letter-spacing: 0.2em
}
.qbtn:hover {
	text-align:center;
  -webkit-transform: translateY(4px);
  transform: translateY(4px)
		border-bottom: none;
	font-weight: bold;
	letter-spacing: 0.2em
}

aside{
	color:red;
	font-size:xx-small;
}

button:not(.nav__toggle):not(.te){
  appearance: none;
	border: 0;
	margin-bottom:10px;
	margin-top:10px;
  border-radius: 5px;
  background: #4676D7;
  color: #fff;
  padding: 8px 16px;
	font-size: 16px;
}
button:hover:not(.nav__toggle):not(.te) {
  background: #1d49aa;
}
 
button:focus:not(.nav__toggle):not(.te) {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
		}
		
		.qa{
			font-size:x-small;
			width:80%;
			margin:0 auto;

		}
		
		.wa{
text-align:left;
			margin:0 auto;
			
		}
		
		
		
		
		.under{
			margin-top:16px;
			position: relative;
	overflow: hidden;
		}
		.under ul{
			position: relative;
	left: 50%; /* ulを右に50%移動 */
	float: left;
			margin-left: -5px;
			 margin: 0;
  padding: 0;
  text-align: center;
		}
		
		.under ul li{
			position: relative;
	left: -50%; 
	float: left;
			margin-left: 10px;
			 list-style-type: none;
  display: inline-block;
		}
		
		.bo{
			font-size:x-small;
			text-align:left;
			height: 100px;
  border: 1px solid;
  overflow-y: scroll;
		}

		
