{% extends 'base.html' %}
{% load static %}
{% block title %}トップ{% endblock %}
{% block contents %}
{% if user.is_authenticated %}
<div class="kakoi">
<a href="{% url 'timeline:p' %}" class="qbtn">質問する</a>
	</div>
			{% endif %}

{% for post in object_list %}
<div class="hitotsu">
  <div class="">
		<p class="date">{{ post.created_at | date:"Y/n/j H:i" }}</p>
		<p class="c">
カテゴリー：<a href="/category/{{ post.category }}">{{ post.get_category_display}}</a>
    </p>
		<a href="{% url 'timeline:q' post.id %}" class="ti">{{ post.title | linebreaks }}</a>
		<p class="tokosya">質問者：{{ post.author.username }}</p>
  </div>
</div>
<hr>
{% endfor %}


<nav class="under">

  <ul>
  {% if page_obj.has_previous %}
    <li class="">
      <a class="" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">前へ</a>
    </li>
  {% else %}
    <li class=""><span class="">
      前へ</span></a>
    </li>
  {% endif %}
  {% for i in page_obj.paginator.page_range %}
  {% if page_obj.number == i %}
	
    <li class=""><span class="">{{ i }}</span></li>
	
  {% else %}
	
    <li class=""><a class="" href="?page={{ i }}">{{ i }}</a></li>
	
  {% endif %}
  {% endfor %}
  {% if page_obj.has_next %}
    <li class="">
	
      <a class="p" href="?page={{ page_obj.next_page_number }}">次へ</a>
	
    </li>
  {% else %}
    <li class="">
	
      <span class="">次へ</span>
	
    </li>
  {% endif %}
  </ul>

</nav>
{% endblock %}

